* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  font-family: "Noto Sans KR", sans-serif;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

aside {
  z-index: 600;
  position: fixed;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #dee2e3;
  -webkit-box-shadow: 6px 1px 9px 2px #7e7d7d;
          box-shadow: 6px 1px 9px 2px #7e7d7d;
}
aside nav {
  position: relative;
  margin-top: 100px;
}
aside nav .nav__times__toggle {
  display: none;
  position: absolute;
  font-size: 25px;
  top: -60px;
  left: 150px;
}
@media screen and (max-width: 1600px) {
  aside nav .nav__times__toggle {
    display: block;
  }
}
aside nav .navbar__logo {
  position: relative;
  left: 30px;
}
aside nav .navbar__logo .navbar__logo__h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  color: orange;
  font-size: 35px;
}
aside nav .profile__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
aside nav .profile__wrap .profile__img {
  background: url(../images/profile.jpg) no-repeat center/cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
aside nav .profile__wrap .profile__class {
  color: #7e7d7d;
  font-weight: 300;
  margin-top: -35px;
}
aside nav .navbar__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
aside nav .navbar__list ul li a {
  padding: 4px 10px;
  border-radius: 5px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
aside nav .navbar__list ul li a:hover, aside nav .navbar__list ul li a:focus {
  background-color: #de9228;
  color: #e8ebef;
}
aside nav .navbar__list ul li .nav-now {
  background-color: orange;
  color: #e8ebef;
}
@media screen and (max-width: 1600px) {
  aside {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.visible {
  display: block;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.mobile__nav__toggle {
  position: fixed;
  z-index: 500;
}
.mobile__nav__toggle button {
  display: none;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 40px;
}
@media screen and (max-width: 1600px) {
  .mobile__nav__toggle button {
    display: block;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.title .title__h1 {
  font-family: "Noto Sans KR", sans-serif;
  color: #7e7d7d;
  margin-top: 40px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  max-width: 1300px;
  margin: auto;
}
main .search__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .search__section label, main .search__section select, main .search__section input {
  margin: 0 4px;
  font-family: "Noto Sans KR", sans-serif;
}
main .search__section #search__select {
  border: 0;
  border-bottom: 1px solid #7e7d7d;
}
main .search__section #search {
  border: 0;
  border-bottom: 1px solid #7e7d7d;
}
main .search__section button {
  margin-right: 20px;
}
main .work__ctrl {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  margin: 20px 10px;
}
main .work__ctrl thead th {
  width: 500px;
  padding: 10px 5px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: #e8ebef;
  background-color: #616161;
  letter-spacing: 2px;
}
main .work__ctrl thead .product__name {
  width: 3000px;
  padding: 0px 50px;
}
main .work__ctrl thead .work__buttons__title {
  width: 20px;
}
main .work__ctrl tbody {
  font-family: "Noto Sans KR", sans-serif;
}
main .work__ctrl tbody th {
  font-weight: 400;
  font-size: 12.5px;
  width: 300px;
  padding: 20px;
}
main .work__ctrl tbody .tbody__product__name {
  font-weight: 700;
}
main .work__ctrl tbody td {
  width: 350px;
  padding: 10px;
}
main .work__ctrl tbody td button {
  font-size: 16px;
}
main .work__ctrl tbody td select {
  font-size: 15px;
  width: 100px;
  height: 30px;
  border: 1px solid #7e7d7d;
  border-radius: 4px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}
main .work__ctrl tbody tr:nth-of-type(even) {
  background-color: #e8ebef;
}
main .layerPopUp {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 13px -4px #616161;
          box-shadow: 5px 5px 13px -4px #616161;
  opacity: 0;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
main .layerPopUp .layerPopUp__times {
  font-size: 30px;
  color: #616161;
  float: right;
  margin: 10px 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
main .layerPopUp .layerPopUp__times:hover, main .layerPopUp .layerPopUp__times:focus {
  color: #de9228;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
main .layerPopUp .top__table__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .layerPopUp .top__table__section .top__table__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .layerPopUp .top__table__section .top__table {
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  line-height: 1.5;
  margin: 20px 10px;
}
main .layer__event {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/*# sourceMappingURL=design_style.css.map */